*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
   background-color: #F7F8F8;
   width: 100%;
   height: 70px; 
   position: fixed;
   top: 0;
}
.navbar{
    width: 95%;
    margin: auto;
    padding-top: 8px;
    position: relative;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar ul li{
    padding-left: 10px;
}
.inp1{
    position: relative;
    width: 270px;
    left: 0%;
    display: flex;
}
.inp1>div>i{
    padding-left: 10px;
    position: absolute;
    top: 27%;
    left:3.5%;
    font-size: 22px;
    font-weight: normal;
    color: #0F3B3F;

}
.inp1>input{
    padding: 13px 45px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 3px;
    
    
}
.inp1>input::placeholder{
    color: black;
}
.toggle>img{
    position: absolute;
    top: 27%;
    right: 5%;
    cursor: pointer;
}

.inp2{
    position: relative;
    left: 0%;
    display: flex;
    width: 750px;
}
.inp2>input{
    padding: 13px 10px;
    width: 100%;
    
    border: none;
    outline: none;  
    font-size: 17px;
    border-radius: 3px;

    border: 1px solid black;
}
.inp2>div>i{
    position: absolute;
    top: 0%;
    right:0%;
    font-size: 22px;
    padding: 13px 10px;
    font-weight: normal;
    color: white;
    background-color: #002F34;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;


}
.btn{
    color: #002F34;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid black;
}
.btn2>div{
    position: absolute;
    right: 2.5%;
    top: 37%;

}
.btn2>div>span,.btn2>div>i{
    font-size: 18px;
}
.div nav ul li{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 15px; 
    font-size: 14px; 
}
.div nav ul li:hover{
    color: lightblue;
    cursor: pointer;
}
.list-img{
    text-transform: uppercase;
    font-weight: bold;
}
.list-img:hover{
    color:black!important ;
}

.div1>img{
    width: 100%;
}
.div2{
    width: 95%;
    margin: auto;

    margin-top: 30px;
    /* margin-left: 20px; */
}
.row{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    flex-wrap: wrap;

}
.card-parent{
    width: 24.5%;
    border: 1px solid #CCD5D6;
}
.card{
    padding: 10px 10px;
    height: 150px;
    border-bottom: none;
}
.start{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.start>button{
    background-color: #FFCE32;
    border: none;
    outline: none;
    padding: 5px 7px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #002F34;
}
.start>i{
    font-size: 2vw;
    /* font-size: 20px; */
}
.card>h3{
    margin-top: 10px;
}
.start>img{
    margin-top: 30px;
    width: 45%;
    height: 100px;
}
.end
{
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.end>p{
    text-transform: uppercase;
    font-size: 1vw;
}
.card-child{
    border-left: 5px solid yellow;
    padding: 10px 10px;
    height: 100px;
}
.btn1{
    text-align: center;
    margin-top: 40px;
}
.btn1>button{
    padding: 11px 10px;
    font-size: 18px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    font-weight: 600;
}
.div3{
    width: 100%;
    background-color: #F7F8F8;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    height: 32vh;
}

.div3-child1{
    width: 40%;
}
.div3-child1>img{

    width: 100%;
    padding-left: 70px;
    max-height: 32vh;
}
.div3>div>h1{
    font-size: 2.2vw;
}
.div3>div>h3{
    margin-top: 30px;
    color: #1E2F34;
    font-weight: normal;
    font-size: 1.5vw;
}
.div3-child2>div{
    margin-top: 12vh;
    padding-left: 4vh;
    
}
.div3-child2{
    width: 25%;
    border-left: 2px solid #C6D0D1;

}
.div3-child2>div>h4{
    color: #1E2F34;
    font-size: 1vw;
} 
.div3-child2>div>img{
    margin-top: 1vh;
    width: 40%;
    height: 7vh;
} 
.div3-child3{
    width: 30%;
    margin-top: 4vh;
}

.footer1{
    border-top: 1px solid #BCC8C9;
    width: 100%;
    background-color:#EBEEEF;
    padding-bottom: 35px;
}
.footer1>nav{
    padding: 10px 0px;
    padding-left: 30px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
}
.footer1>nav>div>h4{
    text-transform: uppercase;
    font-size: 1vw;
}
.footer1>nav>div>ul{
    list-style: none;
    margin-top: 10px;
}
.footer1>nav>div>ul>li{
    font-size: 13px;
    color: #1E2F34;
    margin-top: 2px;
}
.social>li{
    display: inline-block;
}
.social>li>i{
    font-size: 1.5vw;
    background-color: white;
    margin-left: 10px;
    color: #1E2F34!important    ;

}
.footer-img>div{
    max-width: 70%;
    margin-top: 20px;
}

.footer2{
    width: 100%;
    background-color: #002F34;
    display: flex;
    color:white;
    justify-content: end;
    padding: 20px 30px;
}
.footer2>h6{
    font-size: 14px;
    margin-right: 10px;
}
.footer2>p{
    font-size: 12px;
}









@media only screen and (max-width: 954px) {
   
    .card-parent{
        width: 48%;
        border: 1px solid #CCD5D6;
        margin-top: 10px;
    }
    .row{
        margin-top: 5px;
    }
  }
  
  @media only screen and (max-width: 1092px){
    .div3-child1{
        width: 60%;
    }
    .div3-child2{
      width: 40%;
      
  }
    .div3-child3{
        display: none;
    }
  }

  @media only screen and (max-width: 810px){
    .div3-child1{
        width: 70%;
    }
    .div3-child2{
      width: 40%;
      
  }
    .div3-child3{
        display: none;
    }
  }